<div class="col-sm-9">
  <h3>Your feed</h3>
  <% if @feed_items.any? %>
    <% @feed_items.each do |feed_item| %>
      <div class="row">
        <div class="col-sm-12">
          <div class="wine">
            <%= image_tag feed_item.picture.url if feed_item.picture? %>
            <h3><%= feed_item.name %></h3><br>
            <p>
              <strong>Tasting Notes: </strong><%= feed_item.tasting_notes %><br></br>
              <span class="timestamp">Posted <%= time_ago_in_words(feed_item.created_at) %> ago.</span><br>
              <strong><%= link_to "Details", wine_path(feed_item) %></strong>
            </p>
            <% if feed_item.comments.any? %>
            <strong><h3>Comments:</h3></strong>
            <div class="comments">
             <% @comments.each do |comment| %>
               <% if comment.commentable_id == feed_item.id %>
                 <i><%= comment.user.name %></i> says: <br>
                 <strong>"<%= comment.body %>"</strong><br>
               <% end %>
             <% end %>
             </div>
           <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <%= will_paginate @feed_items %>
  <% else %>
    <h4>You haven't followed anyone yet! <%= link_to "Follow someone", users_path %> to start your feed. </h4>
  <% end %>
</div>
