<%= form_for(@user) do |f| %>
  <%= render 'layouts/error_messages', object: f.object %>
  <div class="form-group">
    <%= f.label :name, :class => field_class(@user, :name) %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :email, :class => field_class(@user, :email) %>
    <%= f.email_field :email, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :password, :class => field_class(@user, :password) %>
    <%= f.password_field :password, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation, "Enter Your Password Again", :class => field_class(@user, :password_confirmation) %>
    <%= f.password_field :password_confirmation, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :picture, "Change your profile picture" %>
    <%= f.file_field :picture, accept: 'image/jpeg, image/jpg, image/gif, image/png' %>
  </div>
  <%= f.submit "Save Changes", class: "btn btn-block" %>
<% end %>

<script type="text/javascript">
  $('#user_picture').bind('change', function() {
    let fileSize = this.files[0].size/1024/1024;
    if (fileSize > 5) {
      alert('Your file is too big. Please choose a smaller image.');
    }
  });
</script>
