<% provide(:title, @user.name) %>

<div class="container text-center">
  <div class="row">
    <div class="col-sm-3 well">
      <strong><%= @user.name %></strong>
      <div class="thumbnail">
        <% if @user.picture? %>
          <%= image_tag @user.picture.url %>
        <% else %>
          <%= image_tag "https://api.adorable.io/avatars/285/#{@user.name}.png" %>
        <% end %>
      </div>
      <section class="follows">
        <%= render 'follows' %>
        <%= render 'follow_unfollow' if logged_in? %>
      </section>

      <p>Our editors' favorite wine resources:</p>
        <p><a href="https://winefolly.com/" target="_blank" rel="noopener">Wine Folly</a></p>
        <p><a href="https://www.winespectator.com/" target="_blank" rel="noopener">Wine Spectator</a></p>
        <p><a href="https://en.wikipedia.org/wiki/Wine" target="_blank" rel="noopener">Wikipedia</a></p>
      </div>
    <div class="col-sm-7">

      <% if @user.wines.any? %>
        <h3>Wines (<%= @user.wines.count %>)</h3>
        <%= render 'wines/wine' %>
        <%= will_paginate @wines %>
      <% elsif @user == current_user %>
        <h4>You don't have any wines yet. <%= link_to "Create a new journal entry!", new_wine_path %></h4>
      <% end %>
    </div>

    <div class="col-sm-2 well">
      <div class="thumbnail">
        <p>Upcoming Events:</p>
        <img src="https://picsum.photos/400/?random" alt="Avatar">
        <p><strong>Wine & Art Fest</strong></p>
        <p>May to November 2019</p>
        <button class="btn btn-primary" data-toggle="modal" data-target="#eventModal">Info</button>
      </div>
      <div class="well">
        <p>Sponsored</p>
        <div class="thumbnail">
          <a href="#" data-toggle="modal" data-target="#advertModalOne"><img src="/images/wine_ad_1.png" alt="Thierry and Guy wine ad"></a>
        </div>
        <p>Thierry and Guy</p>
      </div>
      <div class="well">
        <p>Sponsored</p>
        <div class="thumbnail">
          <a href="#" data-toggle="modal" data-target="#advertModalTwo"><img src="/images/wine_ad_2.png" alt="Scavi and Ray Prosecco"></a>
        </div>
        <p>Scavi and Ray Prosecco</p>
      </div>
   </div>
</div>
