<% provide(:title, @title) %>

<div class="container text-center">
  <div class="row">
    <div class="col-sm-3 well">
      <div class="well">
        <div class="thumbnail">
          <% if @user.picture? %>
            <%= image_tag @user.picture.url %>
          <% else %>
            <%= image_tag 'https://picsum.photos/200/?random' %>
          <% end %>
        </div>
      <p><strong><%= @user.name %></strong></p>
      <span><strong><%= @user.wines.count %> wines<strong></span>
      <h5><%= link_to "back to profile", @user %></h5>
    <br>
    <div class="follows">
      <%= render 'follows' %>
    </div>
    </div>
      <% if @users.any? %>
        <div class="user-avatars">
          <% @users.each do |user| %>
            <% if user.picture? %>
              <%= image_tag user.picture.url, size: 30 %>
            <% else %>
              <%= image_tag 'https://picsum.photos/30/?random' %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  <div class="col-sm-9">
    <h3><%= @title %></h3>
    <% if @users.any? %>
    <div id="navcontainer">
      <ul class="users">
        <%= render @users %>
      </ul>
    </div>
      <%= will_paginate %>
    <% end %>
  </div>
</div>
</div>
