<% provide(:title, @user.name) %>

<div class="container text-center">
  <div class="row">
    <div class="col-sm-3 well">
      <div class="well">
        <%= @user.name %>
        <%= gravatar_for @user %>
      </div>
      <div class="alert alert-success fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
        <p><strong>This is your profile page!</strong></p>
        View and edit all your wines!
      </div>
      <h4>Learn More!</h4>
        <p><a href="https://winefolly.com/" target="_blank" rel="noopener">Wine Folly</a></p>
        <p><a href="https://www.winespectator.com/" target="_blank" rel="noopener">Wine Spectator</a></p>
        <p><a href="https://en.wikipedia.org/wiki/Wine" target="_blank" rel="noopener">Wikipedia</a></p>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-7">
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default text-left">
        <div class="panel-body">
          <p contenteditable="true">What's going on today, <%= @user.name %>?</p>
        </div>
      </div>
    </div>
  </div>
  <% if @user.wines.any? %>
  <h3>Wines (<%= @user.wines.count %>)</h3>
  <% @user.wines.each do %>
  <div class="row">
    <div class="col-sm-12">
      <div class="well">
        <ol class="wines">
          <%= render @wines %>
        </ol>
      </div>
    </div>
  </div>
  <% end %>
  <% end %>
  <%= will_paginate @wines %>
