<% @user.wines.each do |wine| %>
  <div class="row">
    <div class="col-sm-12">
      <div class="well">
        <%= image_tag wine.picture.url if wine.picture? %>
        <h3><%= wine.name %></h3><br>
        <p><strong>Winery: </strong><%= wine.winery %><br>
           <strong>Vintage: </strong><%= wine.vintage %><br>
           <strong>Origin: </strong><%= wine.origin %><br>
           <strong>Price: </strong><%= wine.price %><br>
           <strong>Rating: </strong><%= wine.rating %><br>
           <strong>Tasting Notes: </strong><%= wine.tasting_notes %><br></br>
           <span class="timestamp">Posted <%= time_ago_in_words(wine.created_at) %> ago.</span><br>
           <% if current_user?(wine.user) %>
            <%= link_to "Delete", wine, method: :delete, data: { confirm: "Are you certain?" } %>
           <% end %>
        </p>
      </div>
    </div>
  </div>
<% end %>
